.container {
    width: calc(100vw / 6 * 4);
}

.container h3 {
    background: #eee;
    color: #555;
    padding-left: .5rem;
}

.note-area {
    background: #eee;
    padding: .25rem;
    margin-bottom: .5rem;
}

.spacer {
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;
}

.flexer {
    display: flex;
}

.half {
    width: 50%;
}

.half > * {
    width: 90%;
}

/* Theme */

.container.theme-dark h3 {
    background: #3c3b59;
    color: #ccc;
}

.container.theme-dark input[type=datetime-local] {
    background-color: #ddd;
}