@import url(style.css);

.container {
    grid-template-areas:
        "message"
        "."
        "note"
        "schedule";
}

.message {
    grid-area: message;
    font-size: 2rem;
    text-align: center;
}

.message span {
    display: block;
    font-size: 4rem;
}

.note {
    grid-area: note;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.schedule {
    grid-area: schedule;
    display: flex;
    align-items: center;
    justify-content: center;
}