body, html {
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0%;
    list-style: none;
}

.container {
    display: grid;
    height: 100vh;
    overflow-y: hidden;
    padding: calc(100vh / 10 * 1.5) calc(100vw / 6) calc(100vh / 10);
    grid-template-rows: 7fr 1fr 2fr 2fr;
    grid-template-areas:
        "main"
        "."
        "next"
        "queue";
}

/* Main task (clock and task name) */

.main-task {
    grid-area: main;
    font-size: 2rem;
    text-align: center;
}

.timer {
    width: calc(100vw / 6 * 4);
    height: calc(100vw / 6 * 4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

/* Next task */

.next-task {
    grid-area: next;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.next-task span.label {
    font-weight: bold;
    padding-right: .5rem;
}

.next-task span.last-task {
    font-style: italic;
}

/* Task queue */

.task-queue {
    grid-area: queue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-queue ul {
    display: flex;
    position: absolute;
    width: max-content;
    cursor: pointer;
}

.task-queue li.current {
    padding: 0% .5rem;
    margin: 0% .5rem;
    color: #555;
    border-left: 2px solid #777;
    border-right: 2px solid #777;
}

.task-queue li:not(.current) {
    color: #bbb;
}

.task-queue li.current ~ li {
    color: #777;
}

/* Overlay */

.overlay {
    visibility: hidden;
}

.overlay.on {
    visibility: visible;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: hsla(235, 100%, 7%, 0.64);
}

/* Modal */

.modal {
    display: none;
}

.modal.on {
    display: initial;
    position: absolute;
    z-index: 2;
    max-width: 75%;
    max-height: 75%;
    overflow-y: hidden;
    padding: 1rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.modal > .modal-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Task history */

.task-history {
    height: fit-content;
    max-height: 50vh;
    overflow-y: scroll;
}

.task-history > table {
    width: calc(100vw / 6 * 4);
    table-layout: fixed;
}

.task-history > .fixed-header {
    position: fixed;
    background: white;
}

.task-history > table:not(.fixed-header) {
    margin-top: 1.25rem;
}

.task-history > table thead {
    text-align: end;
    color: #777;
    text-transform: uppercase;
    font-size: .875rem;
}

.task-history > table th:first-child {
    width: 7rem;
}

.task-history > table tr {
    height: 2rem;
}

.task-history > table td:first-child {
    width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
}

.task-history > table td:not(:first-child) {
    text-align: end;
}

.task-history > table .day-subhead {
    color: #bbb;
    font-style: italic;
    font-weight: bold;
    background: #eee;
    font-size: .875rem;
}