.table td:first-child {
    color: #555;
}

.day-subhead {
    color: #bbb;
    font-style: italic;
    font-weight: bold;
    background: #eee;
    font-size: .875rem;
}

.current-task {
    background: #ffe3ff;
}

.current-task td {
    outline: 1px solid #ffe3ff;
}

.current-task td:first-child {
    color: #7e49aa;
}

/* Theme */

.theme-dark .day-subhead {
    color: #ccc;
    background: #3c3b59;
}

.theme-dark td:first-child {
    color: #bbb;
}

.theme-dark .current-task {
    background: #5b2886;
}

.theme-dark .current-task td {
    outline: 1px solid #5b2886;
}

.theme-dark .current-task td:first-child {
    color: #ffe3ff;
}